body {
font-family: 'Noto Sans', sans-serif;
}

.container, .container-fluid {
    border: 0;

}

/*------ Colours

Background light - #E7EAE3 
Light blue - #43EECB
Navy - #2B4570

*/ 

/*---------------For formatting use*/


/*------ General Text Use*/

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.align-text-right {
    text-align: right;
}

/*------------- Nav Bar */

.navbar {
  background-color: #E7EAE3 !important;
  padding-bottom: 40px;
}

.navbar-light .navbar-toggler-icon{

background-image: url("../images/menu.svg") !important;

}

.navbar-expand-md {
    padding-left: 0 !important;
}

.navbar-light .navbar-toggler {
    border: none;
   
}

/*------- Hero Section - General */
.top-background {
background-color: #E7EAE3;

}
.left-push{
    padding-left: 10%;
}

.left-push-small{
    padding-left: 5%;
}

.right-push {
    padding-right: 3%;
}

.hero-section {
    height: 450px;
    background-color: #E7EAE3;
}

/*------- Hero Section - Text Section */
.main-text {
    color: #2B4570;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 7vw;

  
}

.heading-text-1  {
    color: #2B4570;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    padding: 15px;
}

.sub-text {
    color: #2B4570;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1.6vw;
   

}



#earth-image {
    height: 350px;
    width: 500px;
    padding-top: 20px;
}

.explore-button {
    width: 485px;
    height: 45px;
    background-color: #2B4570;
    border: 0;
    margin-left: 6px;
}

#explore-text {
    color: #fff; 
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}

#leaf-bg {
    height: 80%;
    width: 60%;
    position: absolute;
    top: 100px;
    left: 10%;
    
}


@media only screen and (max-width: 1199.98px) {

.main-text {
font-size: 6vw;
}

.sub-text {
    font-size: 2.4vw;
}

}


@media only screen and (max-width: 991px) {

.main-text {
font-size: 7vw;
}

.sub-text {
    font-size: 3.4vw;
}

}

@media only screen and (max-width: 767.98px) {

.main-text {
font-size: 12vw;
}

}

