body {
font-family: 'Noto Sans', sans-serif;
}

.container, .container-fluid {
    border: 0;

}

/*------ Colours

Background light - #E7EAE3 
Light blue - #43EECB
Navy - #2B4570

*/ 

/*---------------For formatting use*/


/*------ General Text Use*/

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

/*------------- Nav Bar */

.navbar {
  background-color: #E7EAE3 !important;
}

/*------- Hero Section - General */
.top-background {
background-color: #E7EAE3;

}

/*------- Hero Section - Text Section */
.hero-section {
    height: 500px;
    background-color: #E7EAE3;
}

.left-push{
    padding-left: 2%;
}


.main-text {
    color: #2B4570;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 5vw;
   
  
}

.sub-text {
    color: #2B4570;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1.8vw;
    padding-left: 18.5vw;

}




#earth-image {
    height: 250px;
    width: 300px;
}

.explore-button {
    width: 300px;
    height: 45px;
    background-color: #2B4570;
    border: 0;

}

#leaf-bg {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 50%;
    
}


@media only screen and (max-width: 1199.98px) {

.main-text {
font-size: 6vw;
}

}


@media only screen and (max-width: 991px) {

.main-text {
font-size: 7vw;
}

}

@media only screen and (max-width: 767.98px) {

.main-text {
font-size: 12vw;
}

}

